:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  --backgroundL: #F6F8FF;
  --titleL: #222731;
  --shadow: #4660bb33;
  --accent0L: #FEFEFE;
  --accent1L: #4B6A9B;
  --accent2L: #2B3442;
  --accent3L: #0079FF;
  --accent4L: #697C9A;
  
  --backgroundD: #141D2F;
  --titleD: #fff;
  --accent0D: #1E2A47;
  --textD: #fff;
}

@media (prefers-color-scheme: dark){
  :root{
    --backgroundL: var(--backgroundD);
    --titleL: var(--titleD);
    --accent0L: var(--accent0D);
    --accent1L: var(--textD);
    --accent2L: var(--textD);
    --accent4L: var(--textD);
  }
}

/* light mode 
[data-theme = 'light'] {

}
/* dark mode */
/* [data-theme = 'dark'] {

} */ */

* {
  margin: 0;
  padding: 0;
}

.contentWrapper {
  padding: 2.5rem;
  background: var(--backgroundL);
  height: 100vh;
}

/* header styles: app name and dark mode button */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.appName {
  color: var(--titleL);
  font-family: 'Space Mono';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modeBtn {
  border: none;
  background-color: transparent;
  color: var(--accent1L);
  text-align: right;
  font-family: 'Space Mono';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
}

.modeBtn:hover {
  color: var(--titleL);
}

/* search bar style: search icon, search bar and button */
.searchBar {
  margin: 2rem 1rem;
}

.input {
  border: none;
  border-radius: 15px;
  background: var(--accent0L);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 0.5rem;
}

.searchBtn {
  border: none;
  border-radius: 10px;
  background: var(--accent3L);
  color: var(--textD);
  padding: 0.5rem;
}

.searchBtn:hover {
  background: #60abff;
  cursor: pointer;
}

/* main content */

.mainContent {
  border-radius: 15px;
  background: var(--accent0L);
  box-shadow: var(--shadow);
  margin: 1.5rem;
  padding: 1.5rem;
}

.img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/* user info styling */

#name {
  color: var(--accent2L);
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#userName {
  color: var(--accent3L);
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#joinDate {
  color: var(--accent4L);
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: var(--accent1L);
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
}



/* user info styling */

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* profile description */
.description {
  margin: 1rem 0rem;
  text-align: left;
}

/* Profile Statistics styling */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  background: var(--backgroundL);
}

.stat {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--accent1L);
  text-align: center;
  font-family: 'Space Mono';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.number {
  color: var(--accent2L);
  text-align: center;
  font-family: 'Space Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* social and contact details */
.socials {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 1rem 1rem 2rem 1rem;
}

#city {
  color: var(--accent1L);
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#gHub {
  color: var(--accent1L);
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#twitter {
  color: var(--accent1L);
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#work {
  color: #4B6A9B;
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}